.hero-section {
  position: absolute;
  height: 120vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: 1; 
  z-index: 1000;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4); 
  color: white;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 1024px) {
  .hero-section {
    height: 60vh; /* Adjust height */
  }
  .hero-overlay h1 {
    font-size: 2.5rem; /* Smaller heading */
  }
  .hero-overlay p {
    font-size: 1rem; /* Adjust paragraph size */
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 50vh; /* Further reduce height */
  }
  .hero-overlay {
    padding: 1.5rem; /* Reduce padding */
    align-items: center; /* Center content */
  }
  .hero-overlay h1 {
    font-size: 2rem; /* Smaller heading */
  }
  .hero-overlay p {
    font-size: 1rem; /* Adjust paragraph size */
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 40vh; /* Minimal height */
  }
  .hero-overlay {
    padding: 1rem; /* Reduce padding further */
  }
  .hero-overlay h1 {
    font-size: 1.5rem; /* Smaller heading */
  }
  .hero-overlay p {
    font-size: 0.9rem; 
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../assets/wallpaper.webp'); 
  }
}

